p {
  margin-bottom: 20px;
}


.avantage {
  display: flex;
  color: #000;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px black;
  margin-bottom: 2rem;
  background: linear-gradient(130deg, pink, purple);
  border: 0.5px solid rgba(189,189,189);
  backdrop-filter: blur(1.5px);
}

.content {
  flex: 1;
  padding-right: 20px;
}

.client-gif {
  flex: 1;
  display: flex;
  justify-content: center;
}

.client-gif img {
  max-width: 100%;
  height: auto;
  animation: pulseGif 2s linear infinite;
  box-shadow: 0px 0px 10px #8C177B;
  border-radius: 50%;
}

@keyframes pulseGif {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btn-contact {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #a8015d; 
  border-radius: 1rem; 
  transition: background-color 0.3s ease;
}

.btn-contact:hover {
  background-color: #f70289;
}
.btn-contact {
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}


form {
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.about-content {
  max-width: 600px;
  text-align: center;
  margin-bottom: 30px;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.about-image {
  max-width: 400px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer li {
  margin-right: 10px;
}

.footer a {
  color: #fff;
  transition: color 0.3s;
}

.footer a:hover {
  color: #007bff;
}
