.qrcode-container {
  background-color: #f7f7f7;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.corps {
  display: flex;
  justify-content: center;
}

.formulaire {
  background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.qrious {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 8px 8px;
}

.information {
  text-align: center;
  margin-top: 10px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.code_qr {
  animation: fadeIn 0.5s ease-in-out;
}