* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Agdasima", sans-serif;
  overflow-x: hidden;
  text-decoration: none;
  text-transform: none;
}


nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin:0;
}

.logo img {
  flex: 1;
  width: 4rem;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
main h2, h3, h4 {
  margin-top: 2rem;
}
form, section {
  width: 95%;
}
#form {
  display: block;
  background-image: url("../img/responsive.webp");
  background-size: 40%; ;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.search-box {
  border: 1px solid #8A187B;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 1rem 0 0 1rem;
}

#input-search::placeholder {
  color: #8A187B;;
  opacity: 0.3;
}

.btn-search {
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #8A187B;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 9px 16px 9px 10px;
  cursor: pointer;
  margin-left: -5px;
}

.btn-search i {
  display: none;
}
.btn-search:hover{
  background-color: #d412bb;
}



#contact {
  margin: 5rem auto;
  padding: 2rem;
}

#contact h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#contact p {
  margin-bottom: 0.5rem;
  
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: #d1d1d1;
  padding: 20px;
  border-radius: 1rem;
}

#contact form {
  width: 100%;
}

#contact form label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
  text-transform: uppercase;
}

#contact form input,
#contact form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
  width: 100%;
  border: none;
}

#contact form textarea {
  width: 100%;
}

.custom-button {
  display: block;
  width: 30%;
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}
#contact form .custom-button:hover {
  background-color: #8A187B;
}


/* Media Queries */

@media screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
  }

  .logo img {
    width: 60px;
  }

  .search-box {
    padding: 7px 7px 11px 12px;
  }
  .btn-search {
    font-size: 16px;
    padding: 10px 10px 13px 12px;
  }

  .links li a {
    font-size: 20px;
  }

  .head {
    padding: 1rem;
  }

  .head h2 {
    font-size: 20px;
  }

  .card-image {
    width: 200px;
    height: 130px;
  }

  .head p {
    font-size: 14px;
  }

  .button-container {
    flex-direction: column;
  }

  .head .btn {
    padding: 0.5rem 1rem;
  }

  .thumbnails {
    max-width: 600px;
    margin: 0 auto;
  }

  .project-thumbnail {
    width: 250px;
    padding: 15px;
  }

  .project-thumbnail img {
    width: 160px;
    height: 160px;
  }

  #contact {
    max-width: 600px;
  }

  #contact h3 {
    font-size: 20px;
  }

  #contact form {
    max-width: 350px;
  }

  #contact form input,
  #contact form textarea {
    font-size: 14px;
    padding: 0.4rem;
  }

  #contact form .custom-button {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  .product {
    flex-direction: column;
  }

  .product-article {
    max-width: 100%;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .fa-solid .fa-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #input-search {
    border: 1px solid #d2d2d2;
    font-size: 17px;
    width: 50%;
    font-weight: bold;
    padding: 7px 0 8px 10px;
    margin-left: 0px;
  }

  ::placeholder {
    color: #000;
  }

  .btn-search {
    border-radius: 0 10px 10px 0;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 21px;
    padding: 6px 17px 11px 22px;
    cursor: pointer;
    margin-left: -5px;
  }

  .btn-search i {
    display: flex;
  }

  .btn-search span {
    display: none;
  }


  .head h2 {
    font-size: 18px;
  }

  .card-image {
    width: 160px;
    height: 100px;
  }

  .head p {
    font-size: 12px;
  }

  .head .btn {
    padding: 0.4rem 0.8rem;
  }

  .project-thumbnail {
    width: 100%;
    padding: 10px;
  }

  .project-thumbnail img {
    width: 120px;
    height: 120px;
  }

  .project-thumbnail:hover {
    transform: none;
  }
  .project-thumbnail:hover img{
    transform: none;
  }
  .project-thumbnail:hover h3 {
    color: #000;
}
.project-thumbnail:hover p {
  color: #000;
}
.project-thumbnail a:hover {
  background-color: grey;
  color: white;
}

  #contact h3 {
    font-size: 18px;
  }

  #contact form input,
  #contact form textarea {
    font-size: 12px;
    padding: 0.3rem;
  }

  #contact form .custom-button {
    padding: 0.4rem 0.8rem;
    font-size: 12px;
  }
  

}
