body {
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #1a73e8;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .templates {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .template {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
  
  .template img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .template button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .template button:hover {
    background-color: #0f6ac0;
  }
  
  .customization {
    display: none;
    margin-top: 30px;
    max-width: 400px;
  }
  
  .customization h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1a73e8;
  }
  
  .customization label {
    font-size: 16px;
  }
  
  .customization input[type="text"],
  .customization input[type="email"],
  .customization input[type="tel"],
  .customization select,
  .customization input[type="color"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .customization button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .customization button:hover {
    background-color: #05213b;
  }
  
  .card-preview {
    display: none;
    margin-top: 30px;
    max-width: 1125px;
    width: 100%;
    height: 675px;
  }
  
  .card-preview h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1a73e8;
  }
  
  .card {
    padding: 20px;
  border-radius: 30px;
  box-shadow: 10px 20px 30px black;
  margin-bottom: 2rem;
  background: linear-gradient(130deg, pink, purple);
  border: 0.5px solid rgba(189,189,189);
  backdrop-filter: blur(1.5px);
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 382px;
    height: 239px;
  }
  
  .download-options {
    margin-top: 20px;
  }
  
  .download-options button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .download-options button:hover {
    background-color: #042442;
  }
  